<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="" target="_blank" style="color: #3b5998;">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="" target="_blank" style="color: #C13584;">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sujit18" target="_blank" style="color: #0077b5;">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="mailto:sujitagrahari555@gmail.com" style="color: #D44638;">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; StayBuddy private limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
